body {
    background-color: black;
    color: #00ff00;
}

input {
    background-color: black;
    color: #00ff00;
}

input.wrong {
    color: red;
    width: 2ch;
}

table, th, td {
	border: 0.13em solid darkgreen;
	border-collapse: collapse;
	background: black;
}

table.noBorder, th.noBorder, td.noBorder {
	border: medium none;
}
	 
.error {
  color: red; 
  font-size:3em;
}
