body {
	background-color: black;
	color: #00ff00;
}

input {
	background-color: black;
	color: #00ff00;
}

table {
	border: 0.13em solid darkgreen;
	border-collapse: collapse;
	background: black;
}

table.noBorder {
	border: medium none;
}

tbody, thead, tfoot, tr, td, th {
	border: inherit
	border-collapse: inherit;
	background: inherit;
}
	 
.error {
	color: red; 
	font-size:3em;
}

.warning {
	color: yellow;	
}

.wrong {
	color: red;
}
