body {
	background-color: black;
	color: #00ff00;
}

input {
	background-color: black;
	color: #00ff00;
}

input[type="number"] {
	width: 4em;
}

table, tr, td, th {
	border: 0.13em solid darkgreen;
	border-collapse: collapse;
	background: black;
}

.stats {
	float: left;
	width: 50%;
}

.skills {
	float: right;
	width: 50%;
}

.container::after {
	content:"";
	display:table;
	clear:both;
}
	 
.error {
	color: red; 
	font-size:3em;
}

.warning {
	color: yellow;	
}

.wrong {
	color: red;
}
